

<div class="container bg-dark bg-gradient rounded" id="loginContainer">
    <div class="row">
        <h3 class="text-center text-light p-4">Login</h3>
    </div>
    <div class="container rounded w-50">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" autocomplete="off">
            <div class="row bg-light rounded">
                <div class="col-1">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col">
                    <!-- emailId -->
                    <input type="email" placeholder="Enter Email ID" class="form-control" required
                    formControlName="emailId"> 
                    
                </div>
            </div>
            <div class="row">
                <!-- Validation -->
                <div *ngIf="isSubmitted && formControls.emailId.errors" class="text-danger">
                    <div *ngIf="formControls.emailId.errors.required">
                        <p>Email Id is required!</p>
                    </div>
                </div>
            </div>


            <div class="row bg-light mt-3 rounded">
                <div class="col-1">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="col">
                    <!-- emailId -->
                    <input type="password" placeholder="Enter Password" class="form-control" required
                    formControlName="password"> 
                    
                </div>

            </div>

            <div class="row">
                <!-- Validation -->
                <div *ngIf="isSubmitted && formControls.password.errors" class="text-danger">
                    <div *ngIf="formControls.password.errors.required">
                        <p>Password is required!</p>
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="row mt-4">
                <button class="btn btn-secondary" type="submit"><b>Login</b></button>
            </div>
            <!-- Displaying the error message -->
            <div *ngIf="error" class="text-danger">
                {{error}}
            </div>
        </form>
    </div>
</div>