<div class="container bg-dark bg-gradient rounded" id="customerManageListContainer">
    <a href="#" class="text-white" (click)="gotoCustomer()"><i class="fa fa-arrow-left float-left"></i></a>
    <div class="row">
        <h3 class="text-center text-light p-4">Customer List</h3>
    </div>
    <table class="table bg-light table-bordered table-striped w-75 m-auto mb-5 pb-5 rounded">
        <thead>
            <tr class="text-center">
                <th>Customer No.</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let customer of customerService.customers">
                <td>{{customer.customerNo}}</td>
                <td>{{customer.customerName}}</td>
                <td>{{customer.address}}</td>
                <td *ngIf="customer.isActive"><input type="checkbox" checked class="form-check-input" disabled></td>
                <td *ngIf="!customer.isActive"><input type="checkbox" class="form-check-input" disabled></td>
            </tr>
        </tbody>
    </table>
</div>