/* You can add global styles to this file, and also import other style files */
#loginpagebg{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
}