
<div class="container" id="customerContainer">
    <div class="row mb-5 h-25">
        <div class="col-4 me-5">
            <button class="btn btn-dark bg-gradient w-100 h-100" (click)="addCustomer()"><b>Add Customer</b></button>
        </div>
        <div class="col-4 ms-5">
            <button class="btn btn-dark bg-gradient w-100 h-100" (click)="listdynamicCustomer()"><b>Edit Customer</b></button>
        </div>
    </div>
    <div class="row mt-5 h-25">
        <div class="col-4 me-5">
            <button class="btn btn-dark bg-gradient w-100 h-100" (click)="listdynamicCustomer()"><b>Delete Customer</b></button>
        </div>
        <div class="col-4 ms-5">
            <button class="btn btn-dark bg-gradient w-100 h-100" (click)="listCustomer()"><b>List Customer</b></button>
        </div>
    </div>
</div>